{"openapi":"3.0.0","paths":{"/buyerOrderList":{"get":{"operationId":"DewuController_buyerOrderList","summary":"Получение заказов","parameters":[{"name":"client-id","required":true,"in":"header","schema":{"type":"string"}},{"name":"limit","required":true,"in":"query","schema":{"type":"number"}},{"name":"lastId","required":false,"in":"query","schema":{"type":"string"}},{"name":"type","required":true,"in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyerOrderList"}}}}},"tags":["Public"],"security":[{"apiKey":[]}]}},"/traceOrder":{"get":{"operationId":"DewuController_traceOrder","summary":"Отслеживание заказа","parameters":[{"name":"client-id","required":true,"in":"header","schema":{"type":"string"}},{"name":"orderNo","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TraceOrderData"}}}}},"tags":["Public"],"security":[{"apiKey":[]}]}},"/convertLinkToSpuId":{"get":{"operationId":"DewuController_convertLinkToSpuId","summary":"Получение spuId по ссылке из приложения","description":"\nСтоимость запроса <code id=\"credits\">0.01</code> ₽.","parameters":[{"name":"link","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ILinkToSpuId"}}}}},"tags":["Public","Util"],"security":[{"apiKey":[]}]}},"/productDetail":{"get":{"operationId":"DewuController_getProductDetail","summary":"Получение информации о товаре по spuId","description":"\nСтоимость запроса <code id=\"credits\">0.1</code> ₽.","parameters":[{"name":"spuId","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailResponseType"}}}}},"tags":["Public","Product"],"security":[{"apiKey":[]}]}},"/priceInfo":{"get":{"operationId":"DewuController_getSkuInfoBySpuId","summary":"Получение информации о цене по spuId","description":"\nСтоимость запроса <code id=\"credits\">0.2</code> ₽.","parameters":[{"name":"spuId","required":true,"in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkusInfoMap"}}}}},"tags":["Public","Product"],"security":[{"apiKey":[]}]}},"/productDetailWithPrice":{"get":{"operationId":"DewuController_getProductDetailWithPrice","summary":"Получение информации о товаре и ценах по spuId","description":"\nСтоимость запроса <code id=\"credits\">0.3</code> ₽.","parameters":[{"name":"spuId","required":true,"in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailWithPricesResponseType"}}}}},"tags":["Public","Product"],"security":[{"apiKey":[]}]}},"/searchProducts":{"get":{"operationId":"DewuController_searchProducts","summary":"Поиск товаров по ключевому слову","description":"\nСтоимость запроса <code id=\"credits\">0.05</code> ₽.","parameters":[{"name":"keyword","required":true,"in":"query","schema":{"type":"string"}},{"name":"limit","required":true,"in":"query","schema":{"type":"number"}},{"name":"page","required":true,"in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSearchResponse"}}}}},"tags":["Public","Search"],"security":[{"apiKey":[]}]}}},"info":{"title":"Poizon API","description":"","version":"1.0","contact":{}},"tags":[],"servers":[{"url":"https://poizon-api.com/api/dewu","description":"Prod server"},{"url":"http://localhost:3010/","description":"Dev server"}],"components":{"securitySchemes":{"cookie":{"type":"apiKey","in":"cookie","name":"accessToken"},"apiKey":{"type":"apiKey","in":"header","name":"apiKey"}},"schemas":{"BenefitTagInfoList":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"StatusInfo":{"type":"object","properties":{"statusTips":{"type":"string"},"statusDesc":{"type":"string"},"deadLineDesc":{"type":"string"},"statusValue":{"type":"number"},"deadline":{"type":"number"}},"required":["statusTips","statusDesc","deadLineDesc","statusValue","deadline"]},"ButtonList":{"type":"object","properties":{"smallFootmark":{"type":"string"},"highlightFlag":{"type":"number"},"isEnable":{"type":"number"},"buttonType":{"type":"number"},"hideFlag":{"type":"number"},"buttonDesc":{"type":"string"},"deadline":{"type":"number"}},"required":["smallFootmark","highlightFlag","isEnable","buttonType","hideFlag","buttonDesc","deadline"]},"AgreementInfo":{"type":"object","properties":{"id":{"type":"number"},"desc":{"type":"string"}},"required":["id","desc"]},"AgreementVo":{"type":"object","properties":{"agreementTitle":{"type":"string"},"agreementInfos":{"type":"array","items":{"$ref":"#/components/schemas/AgreementInfo"}}},"required":["agreementTitle","agreementInfos"]},"OrderSkuInfo":{"type":"object","properties":{"preSellDeliverTime":{"type":"number"},"skuPrice":{"type":"number"},"articleNumber":{"type":"string"},"activityTag":{"type":"number"},"spuTitle":{"type":"string"},"level1CategoryId":{"type":"number"},"skuId":{"type":"number"},"isShowIcon":{"type":"number"},"skuTitle":{"type":"string"},"skuCategory":{"type":"number"},"isInMemberCardSpuWriteList":{"type":"boolean"},"additionVoiceCardFlag":{"type":"boolean"},"skuQuantity":{"type":"number"},"skuTagType":{"type":"number"},"skuTagDesc":{"type":"string"},"skuProp":{"type":"string"},"skuPic":{"type":"string"},"spuId":{"type":"number"},"level2CategoryId":{"type":"number"},"agreementVO":{"$ref":"#/components/schemas/AgreementVo"},"gifUrl":{"type":"string"}},"required":["preSellDeliverTime","skuPrice","articleNumber","activityTag","spuTitle","level1CategoryId","skuId","isShowIcon","skuTitle","skuCategory","isInMemberCardSpuWriteList","additionVoiceCardFlag","skuQuantity","skuTagType","skuTagDesc","skuProp","skuPic","spuId","level2CategoryId"]},"OrderList":{"type":"object","properties":{"benefitTagInfoList":{"type":"array","items":{"$ref":"#/components/schemas/BenefitTagInfoList"}},"subOrderType":{"type":"number"},"bizType":{"type":"string"},"statusInfo":{"$ref":"#/components/schemas/StatusInfo"},"addTime":{"type":"number"},"appletAccess":{"type":"boolean"},"warehouseName":{"type":"string"},"inventoryNo":{"type":"string"},"modifyTime":{"type":"number"},"payAmount":{"type":"number"},"additionOrderType":{"type":"number"},"addId":{"type":"string"},"depositDefault":{"type":"boolean"},"orderNo":{"type":"string"},"deductAmount":{"type":"number"},"buttonList":{"type":"array","items":{"$ref":"#/components/schemas/ButtonList"}},"paymentNo":{"type":"string"},"bizChannel":{"type":"string"},"skuInfo":{"$ref":"#/components/schemas/OrderSkuInfo"}},"required":["benefitTagInfoList","subOrderType","bizType","statusInfo","addTime","warehouseName","inventoryNo","modifyTime","payAmount","additionOrderType","addId","depositDefault","orderNo","deductAmount","buttonList","paymentNo","bizChannel","skuInfo"]},"BuyerOrderList":{"type":"object","properties":{"lastId":{"type":"string"},"orderList":{"type":"array","items":{"$ref":"#/components/schemas/OrderList"}},"showTab95":{"type":"boolean"}},"required":["lastId","orderList","showTab95"]},"Logistic":{"type":"object","properties":{"time":{"type":"string"},"desc":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"btns":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean"},"title":{"type":"string"},"arriveTime":{"type":"string"},"arriveDate":{"type":"string"},"code":{"type":"string"}},"required":["time","desc","images","btns","success","title","arriveTime","arriveDate","code"]},"DispatchList":{"type":"object","properties":{"orderDispatchId":{"type":"number"},"orderId":{"type":"number"},"orderNum":{"type":"string"},"typeId":{"type":"number"},"number":{"type":"string"},"channelId":{"type":"number"},"channelName":{"type":"string"},"deliverTime":{"type":"string"},"receiverTime":{"type":"string"},"logistics":{"type":"array","items":{"$ref":"#/components/schemas/Logistic"}},"clear":{"type":"boolean"},"subStageDesc":{"type":"string"},"stageDesc":{"type":"string"},"customerServicePhoneNumber":{"type":"string"}},"required":["orderDispatchId","orderId","orderNum","typeId","number","channelId","channelName","deliverTime","receiverTime","logistics","clear","subStageDesc","stageDesc","customerServicePhoneNumber"]},"TraceOrderData":{"type":"object","properties":{"dispatchList":{"type":"array","items":{"$ref":"#/components/schemas/DispatchList"}},"stepList":{"type":"array","items":{"type":"string"}},"dispatchStep":{"type":"number"},"crossTips":{"type":"string"},"subTypeId":{"type":"number"},"isSelf":{"type":"number"},"hasRefund":{"type":"boolean"},"title":{"type":"string"},"desc":{"type":"string"}},"required":["dispatchList","stepList","dispatchStep","crossTips","subTypeId","isSelf","hasRefund","title","desc"]},"ILinkToSpuId":{"type":"object","properties":{"url":{"type":"string"},"spuId":{"type":"number"},"skuId":{"type":"number"}},"required":["url","spuId","skuId"]},"PriceItem":{"type":"object","properties":{"saleInventoryNo":{"type":"string"},"price":{"type":"number"},"type":{"type":"number"},"maxPrice":{"type":"number"},"tradeType":{"type":"number"},"skuId":{"type":"number"},"floorPrice":{"type":"number","default":0},"upperPrice":{"type":"number","default":0},"intentPrice":{"type":"number","default":0},"originalPrice":{"type":"number","default":0},"nonGlobalOriginalPrice":{"type":"number","default":0},"activityPrice":{"type":"number","default":0}},"required":["saleInventoryNo","price","type","maxPrice","tradeType","skuId","floorPrice","upperPrice","intentPrice","originalPrice","nonGlobalOriginalPrice","activityPrice"]},"PriceGuard":{"type":"object","properties":{"item":{"$ref":"#/components/schemas/PriceItem"}}},"DetailGuard":{"type":"object","properties":{"spuId":{"type":"number"},"isSelf":{"type":"number","default":0},"isShow":{"type":"number","default":0},"fitId":{"type":"number","default":0},"defaultSkuId":{"type":"number","default":0},"goodsType":{"type":"number","default":0},"status":{"type":"number","default":0},"bizType":{"type":"number","default":0},"levelPvSize":{"type":"number","default":0},"categoryId":{"type":"number"},"categoryName":{"type":"string"},"level1CategoryId":{"type":"number","default":0},"level2CategoryId":{"type":"number","default":0},"brandId":{"type":"number","default":0},"logoUrl":{"type":"string","default":""},"soldCountText":{"type":"string","default":""},"title":{"type":"string"},"subTitle":{"type":"string","default":""},"originalTitle":{"type":"string","default":""},"structureTitle":{"type":"string","default":""},"desc":{"type":"string"},"sourceName":{"type":"string"},"articleNumber":{"type":"string"},"sellDate":{"type":"string"},"authPrice":{"type":"number","default":0}},"required":["spuId","isSelf","isShow","fitId","defaultSkuId","goodsType","status","bizType","levelPvSize","categoryId","categoryName","level1CategoryId","level2CategoryId","brandId","logoUrl","soldCountText","title","subTitle","originalTitle","structureTitle","desc","sourceName","articleNumber","authPrice"]},"LastSoldGuard":{"type":"object","properties":{"avatar":{"type":"string","default":""},"lastSoldText":{"type":"string","default":""},"contentText":{"type":"string","default":""},"tinySoldNumText":{"type":"string","default":""},"lastSoldWeakenText":{"type":"string","default":""}},"required":["avatar","lastSoldText","contentText","tinySoldNumText","lastSoldWeakenText"]},"ThreeDimensionGuard":{"type":"object","properties":{"objFileUrl":{"type":"string"},"coverUrl":{"type":"string"},"gifUrl":{"type":"string"},"arFile":{"type":"string"},"arFileBD":{"type":"string"},"spu3dShowType":{"type":"number","default":0},"propertyValueId":{"type":"number","default":0},"moreMaterialFlag":{"type":"number","default":0},"spu3dModelFormat":{"type":"number","default":0},"key":{"type":"string"}},"required":["spu3dShowType","propertyValueId","moreMaterialFlag","spu3dModelFormat"]},"VideoGuard":{"type":"object","properties":{"url":{"type":"string"},"coverUrl":{"type":"string"},"videoWidth":{"type":"number"},"videoHeight":{"type":"number"},"coverWidth":{"type":"number"},"coverHeight":{"type":"number"}}},"ImagesGuard":{"type":"object","properties":{"propertyValueId":{"type":"number","default":0},"url":{"type":"string","default":""},"imgType":{"type":"number","default":0},"desc":{"type":"string","default":""}},"required":["propertyValueId","url","imgType","desc"]},"ArSkuIdRelationGuard":{"type":"object","properties":{"spuId":{"type":"number"},"skuId":{"type":"number"},"propertyValueId":{"type":"number","default":0},"supportFlag":{"type":"boolean","default":false},"arFile":{"type":"string"},"arFileBD":{"type":"string"}},"required":["spuId","skuId","propertyValueId","supportFlag"]},"SpuImage":{"type":"object","properties":{"threeDimension":{"$ref":"#/components/schemas/ThreeDimensionGuard"},"video":{"$ref":"#/components/schemas/VideoGuard"},"images":{"type":"array","items":{"$ref":"#/components/schemas/ImagesGuard"}},"supportPanorama":{"type":"number","default":0},"supportColorBlock":{"type":"number","default":0},"arSkuIdRelation":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/ArSkuIdRelationGuard"}},"moreMaterialFlag":{"type":"number","default":0}},"required":["images","supportPanorama","supportColorBlock","arSkuIdRelation","moreMaterialFlag"]},"ImageGuard":{"type":"object","properties":{"spuImage":{"$ref":"#/components/schemas/SpuImage"},"imageLayoutType":{"type":"number","default":0},"isOnlyShowHitCspu":{"type":"boolean","default":true}},"required":["spuImage","imageLayoutType","isOnlyShowHitCspu"]},"SpuItem":{"type":"object","properties":{"spuId":{"type":"number"},"title":{"type":"string"},"logoUrl":{"type":"string"},"goodsType":{"type":"number","default":0},"propertyValueId":{"type":"number","default":0}},"required":["spuId","title","logoUrl","goodsType","propertyValueId"]},"SpuGroupListGuard":{"type":"object","properties":{"list":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/SpuItem"}}},"required":["list"]},"SaleProperty":{"type":"object","properties":{"propertyId":{"type":"number","default":0},"propertyValueId":{"type":"number","default":0},"name":{"type":"string"},"value":{"type":"string"},"customValue":{"type":"string","default":""},"level":{"type":"number","default":1},"showValue":{"type":"number","default":0},"sort":{"type":"number"},"definitionId":{"type":"number","default":0},"fontProperty":{"type":"boolean","default":false}},"required":["propertyId","propertyValueId","name","value","customValue","level","showValue","sort","definitionId","fontProperty"]},"SalePropertiesGuard":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/SaleProperty"}}},"required":["list"]},"ParamGuard":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"},"propertyValueId":{"type":"number"},"valueType":{"type":"number"},"definitionId":{"type":"number"}},"required":["key","value","propertyValueId","valueType","definitionId"]},"BasicParamGuard":{"type":"object","properties":{"basicList":{"type":"array","items":{"$ref":"#/components/schemas/ParamGuard"}},"windowsList":{"type":"array","items":{"$ref":"#/components/schemas/ParamGuard"}},"windowTitle":{"type":"string"},"windowSubTitle":{"type":"string"}},"required":["basicList","windowsList","windowTitle","windowSubTitle"]},"FavoriteCountGuard":{"type":"object","properties":{"count":{"type":"number","default":0},"content":{"type":"string","default":""},"tinyContent":{"type":"string","default":""}},"required":["count","content","tinyContent"]},"FavoriteDataGuard":{"type":"object","properties":{"hasFavorite":{"type":"boolean","default":false},"hasMyOwn":{"type":"boolean","default":false},"favoriteCount":{"$ref":"#/components/schemas/FavoriteCountGuard"},"myOwnCount":{"$ref":"#/components/schemas/FavoriteCountGuard"}},"required":["hasFavorite","hasMyOwn"]},"BrandTextListGuard":{"type":"object","properties":{"type":{"type":"number","default":0},"showText":{"type":"string","default":""}},"required":["type","showText"]},"BrandItemListGuard":{"type":"object","properties":{"mainBrand":{"type":"number","default":0},"brandType":{"type":"number","default":0},"brandId":{"type":"number"},"artistId":{"type":"number","default":0},"brandLogo":{"type":"string","default":""},"brandName":{"type":"string","default":""},"coverUrl":{"type":"string","default":""},"brandTextList":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/BrandTextListGuard"}}},"required":["mainBrand","brandType","brandId","artistId","brandLogo","brandName","coverUrl","brandTextList"]},"BrandRootInfoGuard":{"type":"object","properties":{"title":{"type":"string","default":""},"multiRelationText":{"type":"string","default":""},"brandItemList":{"type":"array","items":{"$ref":"#/components/schemas/BrandItemListGuard"}},"brandLayer":{"type":"number","default":0},"brandItemShowSize":{"type":"number","default":0}},"required":["title","multiRelationText","brandLayer","brandItemShowSize"]},"SizeInfoItem":{"type":"object","properties":{"sizeKey":{"type":"string","default":""},"sizeValue":{"type":"string","default":""}},"required":["sizeKey","sizeValue"]},"SizeTemplate":{"type":"object","properties":{"title":{"type":"string","default":""},"tips":{"type":"string","default":""},"name":{"type":"string","default":""},"list":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/SizeInfoItem"}},"brandLogoUrl":{"type":"string","default":""},"hasSizeTable":{"type":"boolean","default":false},"hasFold":{"type":"boolean","default":false},"hasSelected":{"type":"boolean","default":false},"hitRowNum":{"type":"number","default":0},"hitColNum":{"type":"number","default":0},"defaultRowNum":{"type":"number","default":0},"offsetCodeType":{"type":"number","default":0},"type":{"type":"number","default":0},"isShow":{"type":"number","default":0}},"required":["title","tips","name","list","brandLogoUrl","hasSizeTable","hasFold","hasSelected","hitRowNum","hitColNum","defaultRowNum","offsetCodeType","type","isShow"]},"SizeInfoGuard":{"type":"object","properties":{"sizeTemplate":{"$ref":"#/components/schemas/SizeTemplate"}},"required":["sizeTemplate"]},"SizeDtoGuard":{"type":"object","properties":{"sizeInfo":{"$ref":"#/components/schemas/SizeInfoGuard"},"sizeFlag":{"type":"number","default":0},"sizeInfoRecommendText":{"type":"string","default":""},"comparedRecommendRow":{"type":"number","default":0},"foldShowRowNum":{"type":"number","default":0},"downFoldShowRowNum":{"type":"number","default":0}},"required":["sizeFlag","sizeInfoRecommendText","comparedRecommendRow","foldShowRowNum","downFoldShowRowNum"]},"TagList":{"type":"object","properties":{"spuId":{"type":"number"},"tag":{"type":"string"}},"required":["spuId","tag"]},"RelateProductInfoGuard":{"type":"object","properties":{"prefix":{"type":"string"},"tagList":{"type":"array","items":{"$ref":"#/components/schemas/TagList"}},"tag":{"type":"string"},"spuId":{"type":"number"},"switchToastText":{"type":"string"}},"required":["prefix","tagList","tag","spuId","switchToastText"]},"ShareInfoGuard":{"type":"object","properties":{"threeDLinkUrl":{"type":"string"},"shareLinkUrl":{"type":"string"}},"required":["threeDLinkUrl","shareLinkUrl"]},"Property":{"type":"object","properties":{"level":{"type":"number","default":1},"propertyValueId":{"type":"number"}},"required":["level","propertyValueId"]},"SkuTypeGuard":{"type":"object","properties":{"skuId":{"type":"number"},"spuId":{"type":"number"},"authPrice":{"type":"number","default":0},"status":{"type":"number","default":0},"properties":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"logoUrl":{"type":"string","default":""}},"required":["skuId","spuId","authPrice","status","properties","logoUrl"]},"DetailResponseType":{"type":"object","properties":{"price":{"$ref":"#/components/schemas/PriceGuard"},"detail":{"$ref":"#/components/schemas/DetailGuard"},"lastSold":{"$ref":"#/components/schemas/LastSoldGuard"},"image":{"$ref":"#/components/schemas/ImageGuard"},"spuGroupList":{"$ref":"#/components/schemas/SpuGroupListGuard"},"saleProperties":{"$ref":"#/components/schemas/SalePropertiesGuard"},"basicParam":{"$ref":"#/components/schemas/BasicParamGuard"},"favoriteData":{"$ref":"#/components/schemas/FavoriteDataGuard"},"brandRootInfo":{"$ref":"#/components/schemas/BrandRootInfoGuard"},"sizeDto":{"$ref":"#/components/schemas/SizeDtoGuard"},"relateProductInfo":{"$ref":"#/components/schemas/RelateProductInfoGuard"},"shareInfo":{"$ref":"#/components/schemas/ShareInfoGuard"},"skus":{"type":"array","items":{"$ref":"#/components/schemas/SkuTypeGuard"}}},"required":["price","detail","image","saleProperties","basicParam","favoriteData","skus"]},"TradeTypeTimeDelivery":{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"}}},"Price":{"type":"object","properties":{"tradeType":{"type":"number"},"price":{"type":"number"},"tradeDesc":{"type":"string"},"timeDelivery":{"$ref":"#/components/schemas/TradeTypeTimeDelivery"},"saleInventoryNo":{"type":"string"},"maxTime":{"type":"number"}},"required":["tradeType","price","tradeDesc","timeDelivery"]},"SkuInfo":{"type":"object","properties":{"quantity":{"type":"number"},"prices":{"type":"array","items":{"$ref":"#/components/schemas/Price"}}},"required":["quantity","prices"]},"SkusInfoMap":{"type":"object","properties":{"skus":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SkuInfo"}}},"required":["skus"]},"PropertyWithSaleProperty":{"type":"object","properties":{"level":{"type":"number","default":1},"propertyValueId":{"type":"number"},"saleProperty":{"$ref":"#/components/schemas/SaleProperty"}},"required":["level","propertyValueId"]},"SkuWithPricesTypeGuard":{"type":"object","properties":{"skuId":{"type":"number"},"spuId":{"type":"number"},"authPrice":{"type":"number","default":0},"status":{"type":"number","default":0},"properties":{"type":"array","items":{"$ref":"#/components/schemas/PropertyWithSaleProperty"}},"logoUrl":{"type":"string","default":""},"price":{"$ref":"#/components/schemas/SkuInfo"}},"required":["skuId","spuId","authPrice","status","properties","logoUrl","price"]},"DetailWithPricesResponseType":{"type":"object","properties":{"price":{"$ref":"#/components/schemas/PriceGuard"},"detail":{"$ref":"#/components/schemas/DetailGuard"},"lastSold":{"$ref":"#/components/schemas/LastSoldGuard"},"image":{"$ref":"#/components/schemas/ImageGuard"},"spuGroupList":{"$ref":"#/components/schemas/SpuGroupListGuard"},"saleProperties":{"$ref":"#/components/schemas/SalePropertiesGuard"},"basicParam":{"$ref":"#/components/schemas/BasicParamGuard"},"favoriteData":{"$ref":"#/components/schemas/FavoriteDataGuard"},"brandRootInfo":{"$ref":"#/components/schemas/BrandRootInfoGuard"},"sizeDto":{"$ref":"#/components/schemas/SizeDtoGuard"},"relateProductInfo":{"$ref":"#/components/schemas/RelateProductInfoGuard"},"shareInfo":{"$ref":"#/components/schemas/ShareInfoGuard"},"skus":{"type":"array","items":{"$ref":"#/components/schemas/SkuWithPricesTypeGuard"}}},"required":["price","detail","image","saleProperties","basicParam","favoriteData","skus"]},"SpuListTypeGuard":{"type":"object","properties":{"title":{"type":"string"},"spuId":{"type":"number"},"logoUrl":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"articleNumber":{"type":"string"}},"required":["title","spuId","logoUrl","images","articleNumber"]},"ProductSearchResponse":{"type":"object","properties":{"total":{"type":"number"},"page":{"type":"number"},"lastId":{"type":"string"},"productList":{"type":"array","items":{"$ref":"#/components/schemas/SpuListTypeGuard"}}},"required":["total","page","lastId","productList"]}}}}